@inject ICarRequestService _request

@if(Car == null) {
  <p>not found</p>
} else {
  <GenericCarRender Car="Car" Delete="Delete" Update="Update" />
}
<input type="number" @bind="IdForSearch" />
<button @onclick="GetById" class="btn btn-info">Buscar</button>



@code {

  public Car Car { get; set; }
  public int IdForSearch { get; set; }

  public async Task GetById() {
    Car = await _request.GetCarByIdAsync(IdForSearch);
  }

  public async Task Delete(Car car) {

  }

  public async Task Update(Car car) {

  }

}
